<div style="text-align:center">
  <h1>
   Dashboard
  </h1>
</div> 
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label=".War">
    <ul>
      <li>Metrics</li>
      <li>Ram Utilization</li>
      <li>Network utilization</li>
      <li>CPU temperature</li>
      <li>CPU core</li>
      <li>CPU usage</li>
      <li>No. of concurrent processed threads</li>
      <li>Disk Storage</li>
    </ul>
  </mat-tab>
  <mat-tab label=".Jar">
    <ul>
      <li>Metrics</li>
      <li>Ram Utilization</li>
      <li>Count of requests</li>
      <li>Health</li>
      <li>Network utilization</li>
      <li>CPU temperature</li>
      <li>CPU core</li>
      <li>CPU usage</li>
      <li>No. of concurrent processed threads</li>
      <li>Disk Storage</li>
    </ul>
  </mat-tab>
  <mat-tab label="Docker">
  <ul>
    <li>Metrics</li>
    <li>Docker container name</li>
    <li>Docker container id</li>
    <li>System Ram Utilization</li>
    <li>Health</li>
    <li>Network utilization</li>
    <li>CPU temperature</li>
    <li>System CPU core</li>
    <li>System CPU usage</li>
    <li>No. of concurrent processed threads</li>
  </ul>
 </mat-tab>
</mat-tab-group>
